header, body, footer {
  text-align: left;
 /* margin: 5px;
  padding: 5px;*/
}

.top-nav-container {
  background-color: 'white';
  color: 'black';
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10%;
  margin-bottom: 0;
}

.logo {

}

ul {
  margin: 0;
  padding: 0;
  text-align: center;/* this centers the inline elements for li children */
}
ul-container {
    display:inline;
}

li {
  background-color: white;
  color: #141414;
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid gray;
  padding: 5px;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding-top: 10px;
}

a {
  margin-right: 10px;
  /*text-align: center;*/
}

a:link {
  text-decoration: none;
}

a:visited {
  color:  #141414;
  text-decoration: none;
}

/* style links in nav bar  */
.topnav a {
  font-size: ;
  text-align: center;
}


.topnav a:hover {
}

.topnav a:active {

}

.searchbar {
  background-color: lightgray;
  border-bottom: black;
}


.second-nav-container {

}

.nav2 {
  /*  background-color: 'white';
  color: 'black';*/
  border-top: 1px solid black;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-left: 10%;
  margin-bottom: 0;
  margin-top: 20px;
  /*text-align: center;*/
}

li {
  background-color: white;
  color: #141414;
  list-style-type: none;
  display: inline;
  border-right: 1px solid gray;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding-top: 10px;
}



.nav2 .gray {
  background-color: lightgray;
  color: black;
}
.nav2 .blue {
  background-color: #151B54;
  color: white;
  
}

.nav2 a:hover {

}

.nav2 a:active {

}
/* Central Section: Taking Control*/
.risk-report-technology-container {
  background-color:   #F1F1F1;
  padding-bottom: 2px;
}

.risk-report-technology {
  margin-left: 10%;
  padding-top: 10px;
}

.risk-report-technology h5 {
  color: #909090;
}

.taking-control-text {
  color: #141414;
  font-size: 13px;
}

.taking-control {
  color: #262626;
  font-size: 48px;
}

 .share-button {
  background-color:  #F1F1F1;
  margin: 10px;
  padding: 10px;
 }

.grayText {
  color: gray;
}
.text {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 0px;
  font-size: 16px;
}
 /*Reports section*/
.report-container {
  display: inline-block;
  padding: 10px 10px;
  display: flex;
  margin: 3%;
} 

.report-image {
 display:inline-block;
}

.report-title-and-description {
  display: inline-block;
  color: #141414;
  height: 100%;
  margin-left: 40px;
}

.report-title-and-description h2 {
  margin-top: 0;
}

button {
  background-color: #064EB2;
  color: white;
  font-size: 14px;
  padding: 10px;
}

/*Footer Section */
.footer-wrapper {
  /*padding-left: 10px;*/
   margin-left: 54px;

}

.footer-container {
  background-color:   #1a1a1a;
  color: #fafafa;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer-navbar  {
  display: inline-flex;
  flex-flow: row nowrap;
 
}

.footer-navbar a {
  color: #fafafa;
  font-size: 16px;
}

.footer-navbar li {
  background-color:   #1a1a1a;
  color: white;
  font-size: 14px;
  margin: 10px 0 14px;
  list-style-type: none;
 /* display: inline-block;*/
  border-right: 1px solid gray;
  padding: 5px;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-navbar li:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 5%;
  margin-left: 10%;
  font-weight: bold;
}

.share {
  margin-left: 5%;
}

.social-share-buttons {
  display: inline-flex;
/*  flex-flow: row nowrap;*/
  flex: 10%;
/*  justify-content: space-evenly;*/
  margin-left: 10%;
}

.social-share-buttons a {

}
